@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
}
:root {
  --color-white: #ffffff;
  --color-body: #000000;
  --bg-color-gray: #f0f2f5;
  --color-midgray: #878787;
  --color-primary: #3858f6;
  --color-secondary: #d93e40;
  --color-gray: #65676b;
  --shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  --shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  --radius: 10px;
  --color-heading: #000;
  --color-extra01: #666;
  --color-lighter: #ced0d4;
}
body {
  font-family: "Poppins";
  background-color: var(--bg-color-gray);
  color: var(--color-body);
}
.dark {
  --color-white: #1a1a1a;
  --color-gray: #ffffff;
  --bg-color-gray: #242424;
  --color-heading: #fff;
  --color-lighter: #1a1a1a;
}
/* Global */
.hover-line {
  color: var(--color-heading);
  text-decoration: none;
  position: relative;
  display: inline;
  background-image: linear-gradient(90deg, currentColor 0, currentColor);
  background-size: 0 2px;
  background-position: 0 95%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
}
.hover-line:hover {
  background-size: 100% 2px;
}
.section-heading {
  color: var(--color-heading);
  margin-bottom: 2rem;
}
.dot {
  background: var(--color-extra01);
  width: 4px;
  height: 4px;
  border-radius: 100%;
}
/* header component */
.header {
  background-color: var(--color-white);
  padding: 1rem 2rem;
}
.header .brand {
  width: 80%;
}
/* Menu Item Component */
.menu-item {
  color: var(--color-midgray);
  font-weight: 500;
  text-decoration: none;
}
.menu-item:hover {
  color: var(--color-primary);
  cursor: pointer;
}
/* Search Component */
.search {
  background-color: var(--bg-color-gray);
  display: flex;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  gap: 0.2rem;
}
.search #search {
  border: none;
  background-color: var(--bg-color-gray);
  outline: none;
  color: var(--color-gray);
}
.search {
  color: var(--color-gray);
}
.header-icons.menu {
  display: none;
}
.header-icons {
  background-color: var(--bg-color-gray);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
}
.header-icons:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}
.header-icons:hover svg {
  color: var(--color-white);
}
.header-icons svg {
  color: var(--color-gray);
  font-size: 1rem;
}
.profile-pic {
  display: flex;
  align-items: center;
}
.profile-pic img {
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  width: 60%;
}
/* Drawer Component */
.drawer .MuiPaper-elevation {
  background-color: var(--color-white) !important;
}
.drawer .drawer-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}
/* Lists Component */
.lists {
  background-color: var(--color-white);
}
.list-item {
  color: var(--color-gray);
  font-family: "Poppins";
  font-weight: 600;
  text-decoration: none;
}
/* Theme Switcher */
.theme-switcher {
  display: flex;
  position: fixed;
  right: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 1035;
  transform: rotate(90deg);
  justify-content: center;
  align-items: flex-start;
}
.mid {
  border-right: 2px solid var(--color-primary);
}
.switch-light,
.switch-dark {
  color: var(--color-primary);
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.switch-dark {
  padding: 0.4rem 1.2rem;
  font-size: 15px;
  border: 2px solid var(--color-primary);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.switch-light {
  padding: 0.4rem 1.2rem;
  font-size: 15px;
  border: 2px solid var(--color-primary);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.switch-active {
  background-color: var(--color-primary);
  color: white;
}
/* Home Component */
.home {
  height: 100vh;
}
/* Hero Component */
.hero img {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* Arrows Component */
.arrow-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.arrow-icons svg {
  border: 1px solid var(--color-midgray);
  padding: 0.6rem 0.6rem;
  border-radius: 100%;
  color: var(--color-midgray);
  cursor: pointer;
  transition: 0.5s all;
}
.arrow-icons svg:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-shadow: var(--shadow-dark);
  color: var(--color-primary);
}
/* Post Content Component */
.post-content {
  margin: 1rem 0;
}
/* Post Content Item */
.hero-post {
  margin-top: -13rem !important;
}
.post-item {
  background-color: var(--color-white);
  padding: 40px 58px 40px 42px;
  border-radius: var(--radius);
}
.post-item .content {
  width: 70%;
}
.post-item .category span {
  color: var(--color-secondary);
}
.post-item .category span:hover {
  color: var(--color-primary);
}
.post-item .author-info {
  width: 100%;
}
.post-item .author-info .info-author {
  display: flex;
  gap: 1rem;
}
.post-item .author-info-inner {
  width: 150%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.post-item .author-info .name {
  color: var(--color-heading);
  font-size: 15px;
  font-weight: 500;
}
.post-item .author-info .info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post-item .author-info .info span {
  color: var(--color-extra01);
  font-size: 12px;
}
/* Button Component */
.btn-primary {
  text-decoration: none;
  background-color: var(--color-primary) !important;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins" !important;
  padding: 1rem 2rem;
  border-radius: 30px;
}
/* Featured Posts */
.featured-posts {
  margin: 6rem 0;
}

/* Card */
.card {
  border: 1px solid var(--color-lighter);
  padding: 35px 30px;
  border-radius: var(--radius);
}
.card .category {
  color: var(--color-secondary);
}
.card .author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card .name {
  color: var(--color-heading);
}
.card .date,
.card .views {
  color: var(--color-extra01);
}
.card .info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.card .desc {
  width: 70%;
}
.card .card-img-parent {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  border-radius: 50%;
  height: 97%;
}
.card .card-img {
  border-radius: 50%;
  object-fit: cover;
  transition: 0.5s all;
}
.card .card-img:hover {
  transform: scale(1.1);
}
.card-active {
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: var(--radius);
}
/* Media Queries */

@media (max-width: 768px) {
  .header .brand {
    width: 150px;
  }
  .search {
    display: none;
  }
  .header-icons.menu {
    display: flex;
    padding: 0.5rem 0.5rem;
  }
  .hero-post {
    margin-top: -2rem !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .post-item .author-info-inner {
    flex-direction: column;
  }
  .arrow-icons {
    margin: 1rem 0;
  }
}
