@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
}
:root {
  --color-white: #ffffff;
  --color-body: #000000;
  --bg-color-gray: #f0f2f5;
  --color-midgray: #878787;
  --color-primary: #3858f6;
  --color-secondary: #d93e40;
  --color-gray: #65676b;
  --shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  --shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  --radius: 10px;
  --radius-small: 6px;
  --color-heading: #000;
  --color-extra01: #666;
  --color-lighter: #ced0d4;
  --p-bold: 700;
  --color-lightest: #f0f2f5;
  --bg-color-white: #fff;
  --s-bold: 700;
  --h5-size: 18px;
  --color-twitter: #1ba1f2;
  --color-fb: #3b5997;
  --color-linkedin: #0077b5;
  --color-insta: #c231a1;
  --color-github: black;
  --color-stack: hsl(27, 90%, 55%);
}
body {
  font-family: "Poppins";
  background-color: var(--bg-color-gray);
  color: var(--color-body);
  margin: 0;
  padding: 0;
}
.dark {
  --color-white: #050505;
  --color-gray: #ffffff;
  --bg-color-gray: #242424;
  --color-heading: #fff;
  --color-lighter: #050505;
  --color-lightest: #212121;
  --bg-color-white: #1a1a1a;
}
/* Scrollbar Code */
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-primary);
}
/* Global */
.hover-line {
  color: var(--color-heading);
  text-decoration: none;
  position: relative;
  display: inline;
  background-image: linear-gradient(90deg, currentColor 0, currentColor);
  background-size: 0 2px;
  background-position: 0 95%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
}
.hover-line:hover {
  background-size: 100% 2px;
}
.hover-line-primary {
  text-decoration: none;
  position: relative;
  display: inline;
  background-image: linear-gradient(90deg, #3858f6 0, #3858f6);
  background-size: 0 2px;
  background-position: 0 95%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
}
.hover-line-primary:hover {
  background-size: 100% 2px;
}
.section-heading {
  color: var(--color-heading);
  margin-bottom: 2rem;
}
.dot {
  background: var(--color-extra01);
  width: 4px;
  height: 4px;
  border-radius: 100%;
}
.category span {
  color: var(--color-secondary);
}
.category span:hover {
  color: var(--color-primary);
}
.td-none {
  text-decoration: none;
}
.card-h3 {
  color: var(--color-heading);
  font-weight: var(--s-bold);
}
.author-name {
  color: var(--color-heading);
}
.info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.info span {
  color: var(--color-extra01);
  font-size: 12px;
}
/* header component */
.header {
  background-color: var(--color-white);
  padding: 1rem 2rem;
}
.header .brand {
  width: 80%;
}
/* Menu Item Component */
.menu-item {
  color: var(--color-midgray);
  font-weight: 500;
  text-decoration: none;
}
.menu-item:hover {
  color: var(--color-primary);
  cursor: pointer;
}
/* Search Component */
.search {
  background-color: var(--bg-color-gray);
  display: flex;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  gap: 0.2rem;
}
.search #search {
  border: none;
  background-color: var(--bg-color-gray);
  outline: none;
  color: var(--color-gray);
}
.search {
  color: var(--color-gray);
}
.header-icons.menu {
  display: none;
}
.header-icons {
  background-color: var(--bg-color-gray);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
}
.header-icons:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}
.header-icons:hover svg {
  color: var(--color-white);
}
.header-icons svg {
  color: var(--color-gray);
  font-size: 1rem;
}
.profile-pic {
  display: flex;
  align-items: center;
}
.profile-pic img {
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  width: 60%;
}
/* Drawer Component */
.drawer .MuiPaper-elevation {
  background-color: var(--color-white) !important;
}
.drawer .drawer-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}
/* Lists Component */
.lists {
  background-color: var(--color-white);
}
.list-item {
  color: var(--color-gray);
  font-family: "Poppins";
  font-weight: 600;
  text-decoration: none;
}
/* Theme Switcher */
.theme-switcher {
  display: flex;
  position: fixed;
  right: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 1035;
  transform: rotate(90deg);
  justify-content: center;
  align-items: flex-start;
}
.mid {
  border-right: 2px solid var(--color-primary);
}
.switch-light,
.switch-dark {
  color: var(--color-primary);
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.switch-dark {
  padding: 0.4rem 1.2rem;
  font-size: 15px;
  border: 2px solid var(--color-primary);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.switch-light {
  padding: 0.4rem 1.2rem;
  font-size: 15px;
  border: 2px solid var(--color-primary);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.switch-active {
  background-color: var(--color-primary);
  color: white;
}
/* Home Component */
.home {
  height: 100vh;
}
/* Hero Component */
.hero img {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* Arrows Component */
.arrow-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.arrow-icons svg {
  border: 1px solid var(--color-midgray);
  padding: 0.6rem 0.6rem;
  border-radius: 100%;
  color: var(--color-midgray);
  cursor: pointer;
  transition: 0.5s all;
}
.arrow-icons svg:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-shadow: var(--shadow-dark);
  color: var(--color-primary);
}
/* Post Content Component */
.post-content {
  margin: 1rem 0;
}
/* Post Content Item */
.hero-post {
  margin-top: -13rem !important;
}
.post-item {
  background-color: var(--color-white);
  padding: 40px 58px 40px 42px;
  border-radius: var(--radius);
}
.post-item .content {
  width: 70%;
}
.post-item .author-info {
  width: 100%;
}
.post-item .author-info .info-author {
  display: flex;
  gap: 1rem;
}
.post-item .author-info-inner {
  width: 150%;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

/* Button Component */
.btn-primary {
  text-decoration: none;
  background-color: var(--color-primary) !important;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins" !important;
  padding: 1rem 2rem;
  border-radius: 30px;
}
/* Featured Posts */
.featured-posts {
  margin: 6rem 0;
}

/* Card */
.card {
  border: 1px solid var(--color-lighter);
  padding: 35px 30px;
  border-radius: var(--radius);
}

.card .author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card .date,
.card .views {
  color: var(--color-extra01);
}
.card .desc {
  width: 70%;
}
.card .card-img-parent {
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.card .card-img {
  border-radius: 50%;
  object-fit: cover;
  transition: 0.5s all;
  width: 200px;
  height: 200px;
}
.card .card-img:hover {
  transform: scale(1.1);
}
.card-active {
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: var(--radius);
}
/* Tabs Component */
.tabs {
  display: flex;
  gap: 2rem;
}
.tabs .tab-item {
  border: 1px solid var(--color-lighter);
  border-radius: var(--radius-small);
  color: var(--color-midgray);
  background-color: transparent;
  font-weight: var(--p-bold);
  padding: 0.5rem 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.tabs .tab-item.active {
  background-color: var(--color-white);
  box-shadow: var(--shadow-dark);
  border: none;
}
/* Innovation Component */
.innovation {
  background-color: var(--bg-color-white);
  padding: 3rem 0;
}
/* Vertical Card Component */
.vertical-card {
  margin: 2rem 0;
  align-items: center;
  background-color: var(--color-lightest);
  padding: 2rem 0;
  border-radius: var(--radius);
}
.vertical-card .desc {
  text-align: center;
}
.vertical-card .card-img-parent {
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.vertical-card .card-img {
  object-fit: cover;
  transition: 0.5s all;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.vertical-card .card-img:hover {
  transform: scale(1.1);
}
/* Trending Topics Component */
.trending-topics {
  background-color: var(--bg-color-gray);
  padding: 3rem 0;
}
/* Topic Component */
.topic {
  text-align: center;
  border-radius: var(--radius);
  position: relative;
}
.topic .img {
  overflow: hidden;
  border-radius: var(--radius);
  width: 180px;
  height: 180px;
}
.topic .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topic h5 {
  color: var(--color-heading);
  font-weight: var(--s-bold);
  font-size: var(--h5-size);
  opacity: 1;
  margin-top: 1rem;
}
.topic .img img {
  object-fit: cover;
  border-radius: var(--radius);
  transition: 0.5s all;
  width: 180px;
  height: 180px;
  background: linear-gradient(180deg, transparent, #000);
  opacity: 0.7;
}
.topic .img img:hover {
  transform: scale(1.1);
}
/* Most popular component */
.most-popular {
  background-color: var(--bg-color-white);
  padding: 3rem 0;
}
/* Horizontal Tab Component */
.horizontal-tab {
  display: flex;
  gap: 3rem;
  padding-bottom: 1rem;
}
.horizontal-tab .left {
  display: flex;
  gap: 2rem;
  flex: 0 0 70%;
}
.horizontal-tab .right {
  flex: 0 0 30%;
}
.horizontal-tab .number {
  color: var(--color-heading);
}
.horizontal-tab .author-info .info {
  margin: 2rem 0;
}
.horizontal-tab .right .img {
  opacity: 0;
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: var(--radius);
  transition: 0.5s all;
}
.horizontal-tab .right .img.active {
  opacity: 1;
  transform: scale(1.1);
}
/* Social Component */
.social {
  padding: 4rem 5rem;
}
.social a {
  text-decoration: none;
}
.social .container {
  background-color: var(--bg-color-white);
  padding: 35px 50px;
  border-radius: var(--radius);
}
.social .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--color-gray);
  font-weight: 600;
  font-size: 13px;
}
.social .icon:hover {
  cursor: pointer;
}
.social .icon svg {
  background-color: var(--color-lightest);
  color: #878787;
  padding: 0.7rem 0.7rem;
  border-radius: 50%;
  transition: 0.3s all;
}
.social .icon.twitter:hover svg {
  color: white;
  background-color: var(--color-twitter);
  cursor: pointer;
}
.social .icon.fb:hover svg {
  color: white;
  background-color: var(--color-fb);
  cursor: pointer;
}
.social .icon.insta:hover svg {
  color: white;
  background-color: var(--color-insta);
  cursor: pointer;
}
.social .icon.linkedin:hover svg {
  color: white;
  background-color: var(--color-linkedin);
  cursor: pointer;
}
.social .icon.github:hover svg {
  color: white;
  background-color: var(--color-github);
  cursor: pointer;
}
.social .icon.stack:hover svg {
  color: white;
  background-color: var(--color-stack);
  cursor: pointer;
}
/* Post List Component */
.post-list {
  background-color: var(--bg-color-white);
  padding: 4rem 0;
}
.post-list-container {
  margin: 2rem 0;
}
.post-list-container .img-parent {
  overflow: hidden;
  width: 300px;
  height: 250px;
  border-radius: var(--radius);
}
.post-list-container .img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  transition: 0.5s all;
}
.post-list-container .img.active {
  transform: scale(1.1);
}
.post-list-container .post-list-card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border: 1px solid var(--color-lighter);
  padding: 2rem 2rem;
  border-radius: var(--radius);
}
.post-list-container .post-list-card.active {
  background-color: var(--bg-color-gray);
  box-shadow: var(--shadow-dark);
  border: 1px solid transparent;
}
/* Media Queries */
@media (max-width: 1199px) {
  .social .icon {
    justify-content: space-between;
    margin-right: 10rem;
    gap: 1.5rem;
    margin-top: 1rem;
  }
  .horizontal-tab .right .img.active {
    width: 80%;
    height: 80%;
  }
  .post-list-container .img-parent {
    width: 100%;
    height: 100%;
  }
  .post-list-container .img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .horizontal-tab {
    flex-direction: column;
    margin-top: 2rem;
  }
  .horizontal-tab .left {
    flex: 0 0 100%;
  }
  .horizontal-tab .right {
    flex: 0 0 100%;
    text-align: center;
  }
  .horizontal-tab .right .img.active {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 991px) {
  .section-heading {
    text-align: center;
  }
  .topic .inner {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .header .brand {
    width: 150px;
  }
  .search {
    display: none;
  }
  .header-icons.menu {
    display: flex;
    padding: 0.5rem 0.5rem;
  }
  .hero-post {
    margin-top: -2rem !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .post-item .author-info-inner {
    flex-direction: column;
  }
  .arrow-icons {
    margin: 1rem 0;
  }
  .card .info {
    gap: 0.4rem;
  }
  .social .icon {
    gap: 1.5rem;
    font-size: 12px;
    margin-left: 0.5rem;
  }
  .social .container {
    padding: 35px 15px;
  }
  .social .icon svg {
    padding: 0.7rem 0.7rem;
    font-size: 15px;
  }
  .social {
    padding: 4rem 1rem;
  }
}
@media (max-width: 600px) {
  .post-list-container .img-parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .post-list-container .img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .post-list-container .post-list-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media (max-width: 446px) {
  .topic .img {
    width: 150px;
    height: 150px;
  }
  .topic .img img {
    width: 150px;
    height: 150px;
  }
}
