@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
}
:root {
  --color-white: #ffffff;
  --color-body: #000000;
  --bg-color-gray: #f0f2f5;
  --color-midgray: #878787;
  --color-primary: #3858f6;
  --color-gray: #65676b;
  --shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  --shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Poppins";
  background-color: var(--bg-color-gray);
  color: var(--color-body);
}
.dark {
  --color-white: #1a1a1a;
  --color-gray: #ffffff;
  --bg-color-gray: #242424;
  --color-midgray: #050505;
}
/* header component */
.header {
  background-color: var(--color-white);
  padding: 1rem 2rem;
}
.header .brand {
  width: 80%;
}

/* Menu Item Component */
.menu-item {
  color: var(--color-midgray);
  font-weight: 500;
  text-decoration: none;
}
.menu-item:hover {
  color: var(--color-primary);
  cursor: pointer;
}

/* Search Component */
.search {
  background-color: var(--bg-color-gray);
  display: flex;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  gap: 0.2rem;
}
.search #search {
  border: none;
  background-color: var(--bg-color-gray);
  outline: none;
  color: var(--color-gray);
}
.search {
  color: var(--color-gray);
}
.header-icons.menu {
  display: none;
}
.header-icons {
  background-color: var(--bg-color-gray);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
}
.header-icons:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}
.header-icons:hover svg {
  color: var(--color-white);
}
.header-icons svg {
  color: var(--color-gray);
  font-size: 1rem;
}
.profile-pic {
  display: flex;
  align-items: center;
}
.profile-pic img {
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  width: 60%;
}
/* Drawer Component */
.drawer .MuiPaper-elevation {
  background-color: var(--color-white) !important;
}
.drawer .drawer-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
}
/* Lists Component */
.list-item {
  color: var(--color-gray);
  font-family: "Poppins";
  font-weight: 600;
  text-decoration: none;
}
/* Theme Switcher */
.theme-switcher {
  display: flex;
  position: fixed;
  right: -50px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 1035;
  transform: rotate(90deg);
  justify-content: center;
  align-items: flex-start;
}
.mid {
  border-right: 2px solid var(--color-primary);
}
.switch-light,
.switch-dark {
  color: var(--color-primary);
  font-family: "Poppins";
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.switch-dark {
  padding: 0.4rem 1.2rem;
  font-size: 15px;
  border: 2px solid var(--color-primary);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.switch-light {
  padding: 0.4rem 1.2rem;
  font-size: 15px;
  border: 2px solid var(--color-primary);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.switch-active {
  background-color: var(--color-primary);
  color: white;
}
/* Hero Component */
.hero img {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* Arrows Component */
.arrow-icons {
  display: flex;
  gap: 1rem;
}
.arrow-icons svg {
  border: 1px solid var(--color-midgray);
  padding: 0.6rem 0.6rem;
  border-radius: 100%;
  color: var(--color-midgray);
  cursor: pointer;
  transition: 0.5s all;
}
.arrow-icons svg:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-shadow: var(--shadow-dark);
  color: var(--color-primary);
}
/* Media Queries */

@media (max-width: 768px) {
  .header .brand {
    width: 150px;
  }
  .search {
    display: none;
  }
  .header-icons.menu {
    display: flex;
    padding: 0.5rem 0.5rem;
  }
}
